<h1> Spotify Web API How To Guide - Example App Login </h1>
<h2> When the App redirects to Spotify, use the login information provided below if you do not have a Spotify Account. </h2>

<dl>
	<dt> Username: </dt>
		<dd> CS290Project </dd>
	<dt> Password: </dt>
		<dd> denninch </dd>
</dl>

<a href = "/Spotify-login/"> Log in to App </a>
<hr>
<a href = "/"> Back to How To Guide Homepage </a>