<h1> Spotify Web API How To Guide - API Documentation </h1>
<h2> Endpoint References - Artists Endpoint Sample Code</h2>
<h3> Code: </h3>
<p>
1......document.addEventListener('DOMContentLoaded', bindButtons);<br>
2......<br>
3......function bindButtons()<br>
4......{<br>
5..............document.getElementById('getArtistExample').addEventListener('click', function(event)<br>
6..............{<br>
7......................var req = new XMLHttpRequest();<br>
8......................var payload = {url:null};<br>
9......................var ID = "0OdUWJ0sBjDrqHygGUXeCF"<br>
10....................payload.url = "https://api.spotify.com/v1/artists/" + ID;<br>
11....................<br>
12....................req.open('GET', payload.url, false);<br>
13....................req.addEventListener('load',function()<br>
14....................{<br>
15............................if(req.status >= 200 && req.status < 400)<br>
16............................{<br>
17....................................var response = JSON.parse(req.responseText);<br>
18....................................console.log(response);<br>
19....................................<br>
20....................................var text = "The band " + response.name + " has " + response.followers.total + " followers on Spotify.";<br>
21....................................<br>
22....................................document.getElementById('artistExample').textContent = text;<br>
23............................}<br>
24............................<br>
25............................else<br>
26............................{<br>
27....................................console.log("Error in network request: " + request.statusText);<br>
28............................}<br>
29....................});<br>
30....................<br>
31....................req.send(null);<br>
32....................event.preventDefault();<br>
33............});<br>
34....}<br>
</p>
<br>
<p>	
	This is an example of how to implement the v1/artists/{ID} Endpoint Reference. This endpoint reference is similar to the albums endpoint reference in that it
	requires an artist ID to be given, which is then sent via the URL to Spotify. Other than that, again, this implementation is a fairly standard GET request.
</p>
<dl>
	<dt> To alter what element triggers the GET request: </dt>
		<dd> - Change the ID 'getArtistExample' in line 5 to the ID of whatever element you choose. </dd>
	<dt> To alter where the information is displayed: </dt>
		<dd> - Change the ID 'artistExample' in the line 22 to the ID of whatever element you choose. </dd>
	<dt> To alter the contents of the information displayed: </dt>
		<dd> - Change the contents of the 'text' variable. </dd>
		<dd> - A full breakdown of the response contents can be found <a href = "https://developer.spotify.com/web-api/get-artist/"> here. </a> </dd>
</dl>
<hr>
<a href = "/API-doc/endpoint-reference/"> Back to Endpoint References </a>