<h1> Spotify Web API How To Guide </h1>
<h2> The Spotify Web API allows developers, hobbyists, and music lovers alike to create apps that have access to Spotify's abundant database of music. </h2><br>

<dl>
	<dt> <a href = "/API-doc/"> View Existing API Documentation </a> </dt>
		<dd> -    The Spotify Web API is notoriously well documented, but that being said, additional commentary is offered where applicable. </dd>
	<dt> <a href = "/app-login/"> View Example App utilizing API Functionality </a> </dt>
		<dd> -    An Example App that demonstrates a handful of features found in the Spotify Web API. </dd>
	<dt> <a href = "/app-breakdown/"> View Breakdown of Code Behind Example App </a> </dt>
		<dd> -    A (more or less) step by step breakdown of the Example App found above. </dd>
</dl>
