table, th, td, tfoot {border: 1px solid black;}

tr:nth-child(even) {background-color: #87CEFA}

td.italics {font-style: italic;}
td.red {color: red;}
td.blue {color: blue;}
th.bold {font-style: bold;}

div.outer-content
{
	background-color: pink;
	width: 75%;
	padding: 5px;
	margin: 20px;
	text-align: center;
}

div.inner-content
{
	display: inline-block;
	background-color: #87CEFA;
	width: 75%;
	padding: 5px;
	margin: 20px;
}
