table, th, td, tfoot {border: 1px solid black;}

tr:nth-child(even) {background-color: #f2f2f2}

td.italics {font-style: italic;}
td.red {color: red;}
td.blue {color: blue;}
th.bold {font-style: bold;}

div.outer-content
{
	background-color: pink;
	width: 75%;
	padding: 5px;
	float: center;
	margin: 20px;
}

div.inner-content
{
	background-color: blue;
	width: 75%;
	padding: 5px;
	float: center;
	margin: 20px;
}
